@charset "utf-8";
/* CSS Document */
@media only screen and (max-width: 725px){

body {
	
	 overflow:auto;
    margin: 0;
    padding: 0;
	background : #000000;
	height: 2000px;
	overflow-x: hidden;

}


 .block{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 16px;
} 

.Titlepos{
	
	z-index: 15;
}

.sec2{
	position: absolute;
	height: 766px;
	zindex: 700;
	top: 938px;
	
}
.img-parallax{
	
	
	width: 100vmax;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,100%);
  pointer-events: none ;
	z-index: -10;
	
}

.parallax-window {
    min-height: 150%;
    min-width: 100%;
    background: transparent;
    z-index: 90;
	
}

.parallax-window2 {
    min-height: 15%;
    min-width: 100%;

    background: transparent;
    z-index: 95;
    -webkit-box-shadow: 10px 5px 20px black;
	-moz-box-shadow: 10px 5px 20px black;
	box-shadow: 10px 5px 20px black;
;
}


.parallax-window3 {
	min-height: 75%;
	min-width: 100%;
	background: transparent;
	z-index: 95;
	
	   
}


.page2{
	color: #077CE1;
	height: 91px;
	width: 100%;
	border: 2px solid #73AD21;
	z-index: 499;
}

.Gal{
    position: absolute;
    z-index: 15;
    opacity: 1;
    top: 110%;
    left: 30%;
    pointer-events: none;
	
}

.arrowbutton{
    position: absolute;
   
    top: 85%;
    right: auto;
    bottom: 0;
    z-index: 80;
    opacity: 1;
    max-height: 100%;
    max-width:  100px;
    opacity: 1;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
    animation: fadein 3s;
    margin-left: 50%;
    margin-right: auto;
    display: block;
	
}
.Headimage {
    position: center;
    z-index: 12;
    opacity: 1;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
    animation: fadein 3s;
	
}

.diary
{	position: relative;
   
    
max-width: 100vw;
	max-height: 100vw;
	top: 70vh;
	 left: 50%;
  
   
    transform: translate(-50%, -50%);
	
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */


/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.overlay {
    position: absolute;
    
    z-index: -1;
    opacity: 0.91;
    pointer-events: none;
	left: 50%;
  
    top: 50%;
    transform: translate(-50%, -50%);
	width: 100%;
    max-height: 100%;
	
	 

}



.overlay2{
	 position: absolute;
    
    z-index: -3;
    opacity: 0.91;
    pointer-events: none;
	left: 50%;
  
    top: 50%;
    transform: translate(-50%, -50%);
width: 100%;
    height: 100%;
	background: cover;
	background-color: black;
	-webkit-box-shadow: 10px 5px 20px black;
	-moz-box-shadow: 10px 5px 20px black;
	box-shadow: 10px 5px 20px black;
	
	
}

.gallery{
	
	z-index: 850;
	
		 
    

	
}

.full-size-page {
    height: 100vh;
}

/* Background video */
  .background-video {
	position: absolute;
	  left: 50%;
  
    top: 50%;
    transform: translate(-50%, -50%);
	 
	right: 0;
	bottom: 0;
	overflow: hidden;
	z-index: -2;

	background-color: black!important;
	background: cover;
	 width: 100%;
  max-height: 100%;
  }
.foreground-video,
.background-video iframe {
 left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    
   
    pointer-events: none;
	background-color: black !important;
	background: cover;
	 width: 100%;
  max-height: 100%;


}

@media (min-aspect-ratio: 16/9) {
    .foreground-video { height: 310%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
    .foreground-video { width: 300%; left: -100%; }
}

/* Overlay video */


.row{
	
	position: fixed;
}

.foot{
	text-align: center;
	background-color: black;
}




.gallery {
 
    border-radius: 0;
    overflow: hidden;
    position: absolute;
    z-index: 9;
    top: 120%;
    left: 15vw;
    opacity: 0.8;
    max-width: 1200px;
	
}
.img-c {
  width: 300px;
  height: 300px;
  float: left;
  position: relative;
  overflow: hidden;
}

.img-w {
    position: absolute;
    width: 95%;
    height: 95%;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    transition: transform ease-in-out 300ms;
    ;
}

.img-w img {
    padding: 2px;
    display: none;
}

.img-c {
    transition: width ease 400ms, height ease 350ms, left cubic-bezier(0.4, 0, 0.2, 1) 420ms, top cubic-bezier(0.4, 0, 0.2, 1) 420ms;
}

.img-c:hover .img-w {
  transform: scale(1.08);
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
}

.img-c.active {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  z-index: 2;

}

.img-c.postactive {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.img-c.active.positioned {
  left: 0 !important;
  top: 0 !important;
  transition-delay: 50ms;
}

	

}
